[user]
	email = rafal.dittwald@gmail.com
	name = Rafal Dittwald
[core]
	excludesFile = ~/.gitignore
	editor = nvim
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
	ff = no
[pull]
	ff = yes
[diff]
	algorithm = histogram
  tool = difftastic
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
