;; source (relative to dotfiles dir) -> target (parent directory for the symlink)
{"nvim" "~/.config/"
 "alacritty" "~/.config/"
 "clj-kondo" "~/.config/"
 "clojure/profiles.clj" "~/.lein/"
 "clojure/deps.edn" "~/.clojure/"
 "zprezto/zlogin" "~/.zlogin"
 "zprezto/zlogout" "~/.zlogout"
 "zprezto/zpreztorc" "~/.zpreztorc"
 "zprezto/zprofile" "~/.zprofile"
 "zprezto/zshenv" "~/.zshenv"
 "zprezto/zshrc" "~/.zshrc"
 ".tmux.conf" "~/"
 "git/.gitconfig" "~/"
 "git/.gitignore" "~/"}
